<script type="text/javascript" src="/javascripts/html5gallery/html5gallery.js"></script>
<div style="display:none;" class="html5gallery" data-skin="gallery" data-width="480" data-height="272">
       <!-- Add images to Gallery -->
       <% object.each do |obj|%>
       <% obj.content =~ /(<iframe src=\")([^\"]*(?<!\"))/%>
       <%video = $2%>
       <% obj.content =~ /(<img src=\")([^\"]*(?<!\"))/%>
       <%image = $2%>
        <a href=<%=video%>><img src=<%=image%> alt=<%=obj.name.capitalize%>></a>
       <% end%>
       <!--a href="images/Tulip_large.jpg"><img src="images/Tulip_small.jpg" alt="Tulips"></a>
       <a href="images/Swan_large.jpg"><img src="images/Swan_small.jpg" alt="Swan on Lake"></a>
       < Add videos to Gallery >
       <a href="images/Big_Buck_Bunny.mp4"><img src="images/Big_Buck_Bunny.jpg" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
       < Add Youtube video to Gallery>
       <a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="http://img.youtube.com/vi/YE7VzlLtp-4/2.jpg" alt="Youtube Video"></a>
       <Add Vimeo video to Gallery>
       <a href="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0"><img src="images/Big_Buck_Bunny.jpg" alt="Vimeo Video"></a-->
</div>
